<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="">
        <span>Lugar para poner la barra de búsqueda</span>
        <p>Compra en cuotas y in tarjeta de crédito</p>
        <nav>
            <UL>
                <li><a href ="">Ofertas</a></li>
                <li><a href ="">Tiendas oficiales</a></li>
                <li><a href ="">Vender</a></li>
                <li><a href ="">Ayuda</a></li>
            </UL>
            <UL>
                <li><a href ="">Creá tu cuenta</a></li>
                <li><a href ="">Ingresá</a></li>
                <li><a href ="">Mis compras</a></li>
            </UL>
        </nav>
        
    </header>
    <main>
        <img src="/images/img-home-banner.jpg" alt="banner oferta " width="100%">
        <section>
            <h4>Basado en tu última visita</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="100%">
                <p>$6.770</p>
                <p>40% off</p>
                <h5>cafetera moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro" width="100%">
                <p>$230.000</p>
                <p>20% off</p>
                <h5>macbook pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera-moulinex" width="100%">
                <p>$70.500</p>
                <p>10% off</p>
                <h5>samsung galaxy s10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera-moulinex" width="100%">
                <p>$23.200</p>
                <p>5% off</p>
                <h5>smart tv samsung 43"</h5>
            </article>
        </section>
        <section>
            <h4>Seccion de oferta</h4>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex" width="100%">
                <p>$6.770</p>
                <p>40% off</p>
                <h5>cafetera moulinex</h5>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="macbook-pro" width="100%">
                <p>$230.000</p>
                <p>20% off</p>
                <h5>macbook pro 2019</h5>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="cafetera-moulinex" width="100%">
                <p>$70.500</p>
                <p>10% off</p>
                <h5>samsung galaxy s10</h5>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="cafetera-moulinex" width="100%">
                <p>$23.200</p>
                <p>5% off</p>
                <h5>smart tv samsung 43"</h5>
            </article>
        </section>
        

    </main>
    <footer>
        <article>
            <h4>paga con tarjeta o en efectivo</h4>
            <p>Com MercadoLiebreCash tenés cuotas sininterés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <h4>Envio gratis desde los $ 2.500</h4>
            <p>Solo por estar registrado en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado puntos.</p>
        </article>
        <article>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolver! En Mercado Liebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
        </article>
       <span>Copyright 1999-2020 MercadoLiebre S.R.L</span>
    </footer>
</body>
</html>